@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
#landingPage{
    overflow: hidden;
}
.title{
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 80px;
    margin-top: 50px;
    transition: all 0.3s;
    font-family: 'Fredoka', sans-serif;
}
.title:hover{
    transform: scale(1.3);
    color: rgb(71, 26, 0);
}

.playBtn{
    width: 50%;
    min-width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    margin-top: 50px;
    background-image: linear-gradient(to right, rgba(209, 124, 64,0.9), rgba(209, 124, 64,1));
    box-shadow: 5px 3px 5px black;
    font-size: 40px;
    padding: 2.5% 0;
    color: white;
    border-radius: 50px 15px;
    transition: all 0.3s;
}

.playBtn:hover{
    box-shadow: -5px 3px 5px black;
    background-image: linear-gradient(to right, rgba(209, 124, 64,1), rgba(209, 124, 64,0.9));
    border-radius: 50px ;
    cursor: pointer;
}

.inputsDiv{
    height:auto;
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 124, 64,1);
    width: calc(50% - 100px);
    margin: auto;
    padding: 50px;
    border-radius: 50px 15px;
    justify-content: center;
    box-shadow: 5px 3px 5px black;
    transition: all 0.3s;
}

.inputsDiv input{
    width: 75%;
    background-color: rgb(227, 202, 165);
    margin: 5px auto 0;
    font-size: 20px;
    border-radius: 5px 15px;
    padding: 5px 10px;
    transition: all 0.3s;
}
.inputsDiv input:hover{
    background-color: rgb(71, 26, 0);
    color: white;
}
.inputsDiv label{
    color: white;
    font-size: 25px;
}

.inputsDiv p{
    color: white;
}

.inputsDiv button{
    margin-top: 20px;
    width: auto;
    background-color: rgb(227, 202, 165);
    font-size: 25px;
    border-radius: 30px 10px;
    padding: 10px 0;
    transition: all 0.3s;
}

.inputsDiv button:hover{
    background-color: rgb(71, 26, 0);
    color: white;
}

.theGame{
    display: grid;
    max-width: 75%;
    transition: 1s;
    margin: auto;
    gap: 15px 15px;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    justify-content: center;
}

